@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DFEitech Furniture</h1>
    <p class="lead">Unique Styles and Solutions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Interiors</h2>
        <p>
            Picture of livinroom and a link to Interior items table.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Exteriors</h2>
        <p>
            Picture and a link to exterior items table
        </p>
    </div>
    <div class="col-md-4">
        <h2>Home Fixtures</h2>
        <p>
            Stone Floor Pic and link to home fixtures table
        </p>
    </div>
</div>