@model DFEItechFurniture.Models.Lot
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DFEitech Furniture</h1>
    <p class="lead">Unique Styles and Solutions</p>
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ListLots", "Lot"))
        {

            <input type="submit" class="btn btn-default btn-lg" value="Enter Showroom &raquo;" />
        }
    </div>

    <div class="col-md-4">
        <a href="http://localhost/dwWeb2/index.php">
            <h3>PHP CV Site &raquo</h3>
        </a>
        <h2>Warning:</h2>
        <p>You must have the dwWeb2 file saved to your htdocs folder and Apache server running to launch the CV site.</p>
        
    </div>

</div>